// Einfach Fir Iech do -
section#Einfach.bg-light-blue
  .center-block.text-center
    img.img-guillemet.guillemet-left(src='/images/Guillemets1.png', alt='')
    span.title-Einfach.h3
      != RichText.asText(slice.primary.quote)
    img.img-guillemet.guillemet-right(src='/images/Guillemets2.png', alt='')