
extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = page

block body

  include ./layout/header.pug
  
  -// Display the slices
  for slice in page.data.body
    //pre 
      != JSON.stringify(slice, null, 4)
    case slice.slice_type
      when 'banner_look'
        include ./slices/citation.pug
      when 'gallery'
        include ./slices/offers.pug
      when 'grille_garanties'
        include ./slices/grille.pug
      when 'products'
        include ./slices/products.pug
